@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: outfit;
}

.slider{
    -webkit-appearance:none;
    height: 100%;
    background: transparent;
    color: blue;

}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(/client/src/assets/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hover1:hover{
    transform: scale(100%);
}

.bg-layer{
    background-image: url(assets/bg_layer.png);
    /* background-size: cover; */
}